@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,200;0,400;0,600;0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

$green-water: #E98AAF;
$orange: #ff9900;
$dark-purple: #A65F7C;
$primary-purple: #FF9FC5;

$purple: #BC6D8D;

$family-sans-serif: 'Montserrat', 'Helvetica Neue', 'Helvetica', 'Arial',
	sans-serif;

$body-line-height: 1.2;

* {
	font-family: $family-sans-serif !important;
}

$title-font: 'Bitter';

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
}

.hidden {
	display: none;
}

.has-text-weight-bold {
	font-weight: 700 !important;
}

.bitter-font {
	font-family: $title-font, serif !important;
}

.underline {
	text-decoration: underline;
}

.gray-background {
	background-color: #cfcfcf;
}

.purple-gradient {
	background: linear-gradient(90deg, $dark-purple 0%, $primary-purple 100%);
	//box-shadow: 0px 0px 12px $dark-blue;
}

.width-80 {
	width: 80%;
}
